<div>
  <ul>
    <li>
      <p><%= task.completed %></p>
      <p><%= task.body %></p>
      <p><%= task.position %></p>
    </li>
      <% end %>
     <a href="/tasks">GO TO ALL TASKS</a>
 </ul>
</div>
